@import 'config';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media(min-width: 1201px) {
    .sticky {
        background: $c-footer-color;

        nav {

            .menu {

                .list-item {

                    .link {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;

    //HAMBURGER MENU
    .hamburger {
        visibility: hidden;
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 15px;
        background-color: $c-navbar;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .line {
            width: 100%;
            height: 3px;
            background-color: $c-almost-white;
            transition: all 0.6s;
        }
    }

    //ANIMATION FOR HABURGER MENU
    .open-menu {

        .line-1 {
            transform: rotateZ(-405deg) translate(-18px);
        }

        .line-2 {
            opacity: 0;
        }
    
        .line-3 {
            transform: rotateZ(405deg) translate(-18px);
        }
    }

    nav {
        width: 100%;
        height: auto;

        .menu {
            padding: 0;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .list-item {
                padding: 0 30px;
                list-style: none;

                .link {
                    position: relative;
                    font-size: 24px;
                    color: $c-almost-white;
                    text-decoration: none;
                    cursor: pointer;
                    text-shadow: 2px 2px 4px #000;
                    transition: font-size .3s ease-in-out;

                    &::after {
                        content: '';
                        position: absolute;
                        background-color: $c-almost-white;
                        height: 3px;
                        width: 100%;
                        left: 0;
                        bottom: -6px;
                        transform: scale(0, 1);
                        transition: .3s;
                    }

                    &:hover::after {
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }

    @media(max-width: 1200px) {
        width: 100vw;

        .hamburger {
            visibility: visible;
        }

        .change {
            transform: translateX(-320px);
        }

        nav {
            width: 320px;
            height: 100vh;
            background-color: $c-navbar;
            position: absolute;
            right: -320px;
            top: 0;
            bottom: 0;
            border-radius: 20% 0 0 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.6s cubic-bezier(1, 0, 0, 1);

            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .list-item {
                    padding: 15px 0;
                }
            }
        }
    }

    @media(max-width: 800px) {
        .hamburger {
            visibility: visible;
            width: 30px;
            height: 30px;
            padding: 10px;
        }

        .open-menu {

            .line-1 {
                transform: rotateZ(-405deg) translate(-14px);
            }
    
            .line-2 {
                opacity: 0;
            }
        
            .line-3 {
                transform: rotateZ(405deg) translate(-14px);
            }
        }
    }

    @media(max-width: 540px) {
        width: 100vw;

        .hamburger {
            visibility: visible;
        }

        .change {
            transform: translateX(-100vw);
        }

        nav {
            width: 100vw;
            height: 100vh;
            background-color: $c-navbar;
            position: absolute;
            right: -100vw;
            top: 0;
            bottom: 0;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.4s ease-in-out;

            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .list-item {
                    padding: 20px 0;

                    .link {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.hero {
    width: 100%;
    height: 60vh;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .overlay {
        background: rgba(#000, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
    }

    .hero-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $c-almost-white;
        font-size: 80px;
        letter-spacing: 4px;
    }

    @media(max-width: 1200px) {

        width: 100%;
        height: 60vh;

        .overlay {
            background: rgba(#000, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60vh;
        }

        .hero-title {
            margin: 10px;
            text-align: center;
            width: 90%;
        }
    }

    @media(max-width: 800px) {

        width: 100%;
        height: 60vh;

        .overlay {
            background: rgba(#000, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60vh;
        }

        .hero-title {
            margin: 10px;
            text-align: center;
            width: 90%;
        }
    }
}

.countup {
    width: 100%;
    height: 20vh;
    background-color: $c-darkest-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 1200px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;

        .block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: auto 30px;
            color: $c-almost-white;

            .counter-title {
                margin: 10px auto;
            }

            .counter, i {
                font-size: 40px;
                margin: 5px auto;
            }
        }
    }

    @media(max-width: 1200px) {
        width: 100%;
        height: 40vh;

        .wrapper {
            width: 90%;
            margin: 0 auto;
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 45%);
            justify-content: center;
            align-items: center;

            .block {
                margin: 10px auto;
            }
        }
    }

    @media(max-width: 800px) {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            width: 90%;
            margin: 0 auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .block {
                margin: 10px auto;
            }
        }
    }
}

.story {
    width: 100%;
    height: auto;
    background-color: $c-almost-white;

    .wrapper-story {
        width: 1200px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .column {
            width: 50%;
            margin: 30px;
            text-align: justify;
            line-height: 30px;

            .story-title {
                text-align: center;
            }
        }
    }

    @media(max-width: 1200px) {

        .wrapper-story {
            width: 90%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .column {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.chart {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../aboutus-img/airplane.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0;

    .chart-wrapper {
        width: 1180px;
        height: auto;
        margin: 0 auto;

        .chart-title {
            color: $c-almost-white;

            .big-title {
                font-size: 42px;
                text-align: center;
            }

            p {
                line-height: 26px;
                font-size: 18px;
                text-align: justify;
            }
        }

        .chart-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px auto;

            .chart-btn {
                margin: 0 15px;
                background-color: transparent;
                border: 2px solid $c-almost-white;
                font-size: 18px;
                font-weight: 700;
                color: $c-almost-white;
                padding: 5px 10px;
                border-radius: 3px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background-color: $c-almost-white;
                    color: $c-darkest-blue;
                }

                &.active {
                    background-color: $c-almost-white;
                    color: $c-darkest-blue;
                }
            }
        }

        .tabcontent {
            width: 100%;
            height: auto;
        }
    }

    @media(max-width: 1200px) {
        .chart-wrapper {
            width: 90%;
            height: auto;
            margin: 0 auto;
        }
    }

    @media(max-width: 800px) {

        .chart-wrapper {
            width: 95%;
            height: auto;
            margin: 0 auto;

            .chart-buttons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin: 10px auto;
    
                .chart-btn {
                    margin: 10px;
                    background-color: transparent;
                    border: 2px solid $c-almost-white;
                    font-size: 18px;
                    font-weight: 700;
                    color: $c-almost-white;
                    padding: 5px 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .3s;
    
                    &:hover {
                        background-color: $c-almost-white;
                        color: $c-darkest-blue;
                    }
    
                    &.active {
                        background-color: $c-almost-white;
                        color: $c-darkest-blue;
                    }
                }
            }
        }
    }

    @media(max-width: 540px) {

        .chart-wrapper {
            width: 95%;
            height: auto;
            margin: 0 auto;

            .chart-title {
    
                .big-title {
                    font-size: 30px;
                    text-align: center;
                }
            }

            .chart-buttons {
                display: grid;
                grid-template-columns: repeat(2, 45%);
                grid-template-rows: repeat(3, 30%);
                align-items: center;
                grid-template-areas: "footer footer";
                margin: 10px auto;

                .grid-footer {
                    grid-area: footer;
                    grid-row: 3;
                }
    
                .chart-btn {
                    margin: 10px;
                    background-color: transparent;
                    border: 2px solid $c-almost-white;
                    font-size: 18px;
                    font-weight: 700;
                    color: $c-almost-white;
                    padding: 5px 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .3s;
    
                    &:hover {
                        background-color: $c-almost-white;
                        color: $c-darkest-blue;
                    }
    
                    &.active {
                        background-color: $c-almost-white;
                        color: $c-darkest-blue;
                    }
                }
            }

            canvas {
                width: 100%;
                height: 300px;
            }
        }
    }
}

.our-team {
    background-color: $c-dark-blue;
    width: 100%;
    height: 100%;
    padding-top: 20px;

    .wrapper-team {
        width: 1190px;
        margin: 0 auto;
        height: auto;

        .team-title {
            color: $c-almost-white;
            text-align: center;
            
            .our-team-title {
                font-size: 40px;
                margin: 0;
            }

            p {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .teammates {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 30%);
            grid-template-rows: repeat(2, 45%);
            grid-gap: 20px;
            height: 90vh;

            .cards {
                width: 100%;
                height: 100%;
                position: relative;
                cursor: pointer;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 10px;
                }

                .card-desc {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;

                    .person-text {
                        margin: 10px auto;
                        color: #D7DBDD;
                        font-size: 26px;
                    }

                    i {
                        padding: 0 10px;
                        font-size: 30px;
                        cursor: pointer;
                        transition: 0.3s;
                        color: $c-almost-white;

                        &:hover {
                            color: #F5B041;
                        }
                    }
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: rgba(#000, 0.5);
                    border-radius: 10px;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                &:hover::before {
                    opacity: 1;
                }

                &:hover {
                    .card-desc {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media(max-width: 1200px) {
        width: 100%;
        height: auto;

        .wrapper-team {
            width: 90%;
            margin: 0 auto;
            height: auto;
    
            .teammates {
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2, 45%);
                grid-template-rows: repeat(3, 30%);
                grid-gap: 20px;
                height: auto;
    
                .cards {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    cursor: pointer;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 10px;
                    }
    
                    .card-desc {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 18px;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
    
                        .person-text {
                            margin: 10px auto;
                            color: #D7DBDD;
                            font-size: 26px;
                        }
    
                        i {
                            padding: 0 10px;
                            font-size: 30px;
                            cursor: pointer;
                            transition: 0.3s;
                            color: $c-almost-white;
    
                            &:hover {
                                color: #F5B041;
                            }
                        }
                    }
    
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background: rgba(#000, 0.5);
                        border-radius: 10px;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                    }
    
                    &:hover::before {
                        opacity: 1;
                    }
    
                    &:hover {
                        .card-desc {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 540px) {
        width: 100%;
        height: auto;
        padding: 20px 0;

        .wrapper-team {
            width: 90%;
            margin: 0 auto;
            height: auto;
    
            .teammates {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: auto;
    
                .cards {
                    width: 300px;
                    height: 300px;
                    position: relative;
                    cursor: pointer;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: auto;

    .black-foo {
        width: 100%;
        height: auto;
        background-image: linear-gradient(to right bottom, #2f4858, #35424f, #373c46, #36373c, #333333);
        
        .black-wrapper {
            width: 1200px;
            margin: 0 auto;
            height: 100%;
            
            .links {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .column {
                    margin: 0 20px;
                    display: flex;
                    flex-direction: column;

                    .foo-title {
                        color: $c-dark-blue;
                    }

                    a {
                        color: $c-almost-white;
                        margin: 5px 0;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            color: #F5B041;
                        }
                    }

                    .see-all {
                        background-color: $c-darkest-blue;
                        border-radius: 3px;
                        margin: 10px 0;
                        padding: 5px;

                        &:hover {
                            background-color: #F5B041;
                            color: $c-footer-color;
                        }
                    }

                    .social-media {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        a {
                            margin: 10px 0;

                            &:hover:nth-child(1) {
                                color: #4267B2;
                            }

                            &:hover:nth-child(2) {
                                color: #E1306C;
                            }

                            &:hover:nth-child(3) {
                                color: #FF0000;
                            }

                            &:hover:nth-child(4) {
                                color: #1DA1F2;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        background-color: #192d3a;
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        .copyright {
            padding: 0 60px;
            font-size: 20px;
            color: $c-almost-white;
        }
    
        .designed {
            padding: 0 60px;
            color: $c-almost-white;
            font-size: 20px;
    
            svg {
                margin-bottom: -4px;
                width: 30px;
                height: auto;
                fill: $c-clear-blue;
            }
        
            .link-erdsoft {
                text-decoration: none;
                color: $c-clear-blue;
            }
        }
    }

    @media(max-width: 1200px) {

        .black-foo {

            .black-wrapper {
                width: 90%;
                margin: 0 auto;
                height: 100%;
                
                .links {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .column {
                        margin: 0 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        a {
                            color: $c-almost-white;
                            margin: 5px 0;
                            text-decoration: none;
                            transition: 0.3s;
                        }

                        .see-all {
                            background-color: $c-darkest-blue;
                            border-radius: 3px;
                            margin: 10px 0;
                            padding: 5px 10px;
                        }

                        .social-media {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            a {
                                margin: 10px 0;

                                &:hover:nth-child(1) {
                                    color: #4267B2;
                                }

                                &:hover:nth-child(2) {
                                    color: #E1306C;
                                }

                                &:hover:nth-child(3) {
                                    color: #FF0000;
                                }

                                &:hover:nth-child(4) {
                                    color: #1DA1F2;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            padding: 20px 0;
        
            .copyright {
                padding: 0 30px;
            }
        
            .designed {
                padding: 0 30px;
            }
        }
    }

    @media(max-width: 800px) {

        .black-foo {

            .black-wrapper {
                width: 95%;
                margin: 0 auto;
                height: 100%;
                
                .links {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 45%);
                    grid-template-rows: auto;
                    justify-content: center;
                    align-items: center;

                    .column {
                        margin: 0 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        .foo-title {
                            font-size: 20px;
                        }

                        a {
                            margin: 5px 0;
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .see-all {
                            margin: 10px 0;
                            font-size: 16px;
                        }

                        .social-media {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            a {
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 0;
        
            .copyright {
                padding: 10px 0;
            }
        
            .designed {
                padding: 10px 0;
            }
        }
    }

    @media(max-width: 540px) {

        .bottom {
            padding: 10px 0;
            text-align: center;
        
            .copyright {
                padding: 10px 0;
                font-size: 16px;
            }
        
            .designed {
                padding: 10px 0;
                font-size: 16px;
            }
        }
    }
}